.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #5a068a;
  border: 1px solid #490d66;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #330364;
  border-color: #540364;
}